body{
    margin:0;
    font-family:Arial;
    background:#f2f2f2;
}

.container{
    width:70%;
    margin:auto;
    padding:20px;
}

h1{
    text-align:center;
}

.box{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

select{
    width:100%;
    padding:10px;
}

textarea{
    width:100%;
    margin-top:15px;
    padding:10px;
    resize:none;
}

button{
    padding:10px 20px;
    margin-top:15px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

button:disabled{
    background:gray;
}

.error{
    color:red;
}

.draft{
    border:1px solid gray;
    margin-top:15px;
    padding:15px;
}